
@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueBold.eot');
    src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBold.woff2') format('woff2'),
        url('BebasNeueBold.woff') format('woff'),
        url('BebasNeueBold.ttf') format('truetype'),
        url('BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('BebasNeueBook.eot');
    src: url('BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueBook.woff2') format('woff2'),
        url('BebasNeueBook.woff') format('woff'),
        url('BebasNeueBook.ttf') format('truetype'),
        url('BebasNeueBook.svg#BebasNeueBook') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueLight.eot');
    src: url('BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueLight.woff2') format('woff2'),
        url('BebasNeueLight.woff') format('woff'),
        url('BebasNeueLight.ttf') format('truetype'),
        url('BebasNeueLight.svg#BebasNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue.eot');
    src: url('BebasNeue.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue.woff2') format('woff2'),
        url('BebasNeue.woff') format('woff'),
        url('BebasNeue.ttf') format('truetype'),
        url('BebasNeue.svg#BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Thin.eot');
    src: url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('BebasNeue-Thin.woff2') format('woff2'),
        url('BebasNeue-Thin.woff') format('woff'),
        url('BebasNeue-Thin.ttf') format('truetype'),
        url('BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueRegular.eot');
    src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('BebasNeueRegular.woff2') format('woff2'),
        url('BebasNeueRegular.woff') format('woff'),
        url('BebasNeueRegular.ttf') format('truetype'),
        url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Jane Roe';
    src: url('JaneRoe-Light.eot');
    src: url('JaneRoe-Light.eot?#iefix') format('embedded-opentype'),
        url('JaneRoe-Light.woff2') format('woff2'),
        url('JaneRoe-Light.woff') format('woff'),
        url('JaneRoe-Light.ttf') format('truetype'),
        url('JaneRoe-Light.svg#JaneRoe-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jane Roe';
    src: url('JaneRoe-Bold.eot');
    src: url('JaneRoe-Bold.eot?#iefix') format('embedded-opentype'),
        url('JaneRoe-Bold.woff2') format('woff2'),
        url('JaneRoe-Bold.woff') format('woff'),
        url('JaneRoe-Bold.ttf') format('truetype'),
        url('JaneRoe-Bold.svg#JaneRoe-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cyntho Next';
    src: url('CynthoNextRegular.eot');
    src: url('CynthoNextRegular.eot?#iefix') format('embedded-opentype'),
        url('CynthoNextRegular.woff2') format('woff2'),
        url('CynthoNextRegular.woff') format('woff'),
        url('CynthoNextRegular.ttf') format('truetype'),
        url('CynthoNextRegular.svg#CynthoNextRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cyntho Next';
    src: url('CynthoNextBold.eot');
    src: url('CynthoNextBold.eot?#iefix') format('embedded-opentype'),
        url('CynthoNextBold.woff2') format('woff2'),
        url('CynthoNextBold.woff') format('woff'),
        url('CynthoNextBold.ttf') format('truetype'),
        url('CynthoNextBold.svg#CynthoNextBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


